#container {
    text-align: center;
}

#grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding-bottom: 20px;
}

.recent-color-button {
    width: 20px;
    height: 20px;
    border: 1px white ridge;
}
