#main-title {
    text-align: center;
}
.form {
    display: block;
}

.buttons {
    margin-top: 20px;
}
#upload-button {
    background-color: green;
}

#cancel-button {
    background-color: red;
}

#addTagButton {
    font-size: 10px;
    padding: 0px;
    margin-left: 15px;
}

.window-container {
    height: auto;
    width: 350px;
}

input {
    width: 250px;
}

#tag-form-container {
    margin-top: 30px;
    margin-bottom: 20px;
}

button {
    margin-right: 5px;
}
