/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.ng-image-slider .ng-image-slider-container .main .main-inner .img-div .caption,
.ng-image-slider .ng-image-slider-container .main .icons {
    background-color: black !important;
}
