<label id="type-drawing-label">Choisissez la valeur de l'épaisseur:</label>
<mat-slider thumbLabel (change)="onThicknessChange($event)" tickInterval="1" min="1" max="100" [value]="this.currentThickness"> </mat-slider>

<label id="type-drawing-label">Choissisez le type de liaison : </label>
<mat-radio-group aria-labelledby="type-drawing-label" id="type-drawing-group" [(ngModel)]="currentType" ngDefaultControl>
    <mat-radio-button class="type-drawing" *ngFor="let type of typesDrawing" [value]="type" (change)="onTypeDrawingChange($event)">
        {{ type }}
    </mat-radio-button>
</mat-radio-group>

<label id="type-drawing-label">Choisissez la valeur de l'épaisseur:</label>
<mat-slider thumbLabel (change)="onSizeChange($event)" tickInterval="1" min="1" max="100" [value]="this.pointSize"> </mat-slider>
