<div class="property">
    <h3 class="title-property">Propriété de la ligne</h3>
    <label class="label">Choisissez l'épaisseur:</label>
    <div class="sliderWrapper">
        <mat-slider thumbLabel (change)="onThicknessChange($event)" tickInterval="1" min="1" max="100" [value]="this.currentThickness"> </mat-slider>
    </div>

    <label class="label">Choissisez le type de liaison : </label>
    <mat-radio-group aria-labelledby="label" class="type-drawing-group" [(ngModel)]="currentType" ngDefaultControl>
        <mat-radio-button
            class="type-drawing"
            *ngFor="let type of typesDrawing | keyvalue"
            [value]="type.value"
            (change)="onTypeDrawingChange($event)"
        >
            {{ type.value }}
        </mat-radio-button>
    </mat-radio-group>

    <label class="label">Choisissez la taille des points de liaison:</label>
    <div class="sliderWrapper">
        <mat-slider thumbLabel (change)="onSizeChange($event)" tickInterval="1" min="1" max="100" [value]="this.pointSize"> </mat-slider>
    </div>
</div>
