ul {
    display: flex;
    flex-wrap: wrap-reverse;
    order: 2;
    padding: 0;
    margin: 20px auto;
}
#window {
    width: 630px;
    height: 200px;
}
li {
    padding: 10px;
    display: flex;
}

#delete {
    background-color: #971010;
}

#open {
    background-color: #4caf50;
}

button {
    opacity: 0.6;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    opacity: 1;
}
