<div class="container">
    <app-sidebar #toolbar id="sidebar" (requestCanvasFocus)="focusCanvas()"></app-sidebar>
    <div #drawingContainer class="drawing-container">
        <app-drawing
            (requestDrawingContainerDimensions)="computeDimensionsDrawingContainer(true)"
            [dimensionsUpdatedEvent]="dimensionsUpdatedSubject.asObservable()"
            [drawingContainerWidth]="width"
            [drawingContainerHeight]="height"
            class="drawing"
            tabindex="0"
        ></app-drawing>
    </div>
</div>
