@import '../../style/color.scss';

.container {
    height: 100%;
    display: flex;
    background-color: gray;
}

.drawing-container {
    overflow: hidden;
    flex: 1 1 auto;
}

.drawing {
    display: grid;
    width: min-content;
    outline: none;
}
