<div class="property">
    <h3 class="title-property">Propriété de la grille</h3>
    <mat-slide-toggle [checked]="gridService.isGrid" (change)="showGrid()">Afficher grille</mat-slide-toggle>
</div>
<p></p>
<label class="label">Choisissez la taille des carreaux: </label>
<mat-slider id="sliderSize" thumbLabel (change)="onChangeInput($event)" tickInterval="1" min="5" max="500" [value]="this.gridService.getDeltaX()">
</mat-slider>
<p></p>
<label class="label">Choisissez l'opacite : </label>
<mat-slider thumbLabel (change)="onChangeSlider($event)" tickInterval="1" min="100" max="255" [value]="this.opacity"> </mat-slider>
