<div class="property">
    <h3 class="title-property">Propriété de la grille</h3>
    <mat-slide-toggle [checked]="gridService.isGrid" (change)="showGrid()">Afficher grille</mat-slide-toggle>
</div>
<p></p>
<label class="label">Choisissez la taille des carreaux: </label>
<mat-slider
    id="sliderSize"
    thumbLabel
    (change)="onChangeGridSize($event)"
    tickInterval="5"
    step="5"
    min="5"
    max="100"
    [value]="this.gridService.getGridSize()"
>
</mat-slider>
<p></p>
<label class="label">Choisissez l'opacite : </label>
<mat-slider thumbLabel (change)="onChangeGridOpacity($event)" tickInterval="5" step="5" min="20" max="100" [value]="this.opacity"> </mat-slider>
