@import '../../style/color.scss';

$margin-canvas: 5px 0px 0px 5px;

canvas {
    cursor: crosshair;
    position: absolute;
    left: 0;
    top: 0;
}

#canvas {
    z-index: 1;
    background-color: white;
}

#canvas-container {
    position: relative;
    margin: $margin-canvas;
}

#previewLayer {
    z-index: 2;
}

.showOutline {
    outline: 1px dashed black;
}

#filters {
    display: none;
}

.resizable {
    z-index: 2;
    position: absolute;
    margin: $margin-canvas;
    box-sizing: border-box;
    border: 1px solid $primaryColor;
}

.resizable .resizer {
    width: 5px;
    height: 5px;
    background: $primaryColor;
    border: 2px solid $primaryColor;
    position: absolute;
}

.resizable .resizer.right-center {
    right: -7px;
    cursor: e-resize;
}
.resizable .resizer.bottom-center {
    bottom: -7px;
    cursor: s-resize;
}
.resizable .resizer.bottom-right {
    right: -7px;
    bottom: -7px;
    cursor: nwse-resize;
}
