canvas {
    cursor: crosshair;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
}

#canvas {
    z-index: 0;
}

#drawCanvas {
    z-index: 1;
}

#canvas-container {
    position: relative;
    margin: 5px 0px 0px 5px;
}
