<div class="property">
    <h3 class="title-property">Propriété de la selection</h3>
    <label class="label">Choisissez le type de selection que vous souhaitez:</label>
    <mat-radio-group aria-labelledby="type-selection-label" class="type-selection-group" ngDefaultControl>
        <mat-radio-button
            class="type-drawing"
            *ngFor="let type of typesSelection | keyvalue: keepOriginalOrder"
            [value]="type.value"
            (change)="onTypeSelectionChange(type.value)"
            [checked]="type.value === currentType"
        >
            {{ type.value }}
        </mat-radio-button>
    </mat-radio-group>

    <div>
        <button mat-button (click)="triggerSelectAll()">
            <mat-icon>select_all</mat-icon>
            <span>Sélectionner tout</span>
        </button>
        <button mat-button (click)="triggerCopy()" [disabled]="!isAreaSelected()">
            <mat-icon>content_copy</mat-icon>
            <span>Copier</span>
        </button>
        <button mat-button (click)="triggerCut()" [disabled]="!isAreaSelected()">
            <mat-icon>content_cut</mat-icon>
            <span>Couper</span>
        </button>
        <button mat-button (click)="triggerPaste()" [disabled]="isClipboardEmpty()">
            <mat-icon>content_paste</mat-icon>
            <span>Coller</span>
        </button>
        <button mat-button (click)="triggerDelete()" [disabled]="!isAreaSelected()">
            <mat-icon>clear</mat-icon>
            <span>Supprimer</span>
        </button>
    </div>
    <hr />
    <div>
        <app-magnetism-option></app-magnetism-option>
    </div>
</div>
