<div class="property">
    <h3 class="title-property">Propriété de la selection</h3>
    <label class="type-drawing-label">Choisissez le type de selection que vous souhaitez:</label>
    <mat-radio-group aria-labelledby="type-selection-label" class="type-selection-group" [(ngModel)]="currentType" ngDefaultControl>
        <mat-radio-button
            class="type-drawing"
            *ngFor="let type of typesSelection | keyvalue: keepOriginalOrder"
            [value]="type.value"
            (change)="onTypeSelectionChange(type.value)"
        >
            {{ type.value }}
        </mat-radio-button>
    </mat-radio-group>
</div>
