<div id="wrap">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> Format </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-form-field>
                <mat-select [(value)]="selectedFormat" (selectionChange)="onFormatChange()">
                    <mat-option value="png">PNG</mat-option>
                    <mat-option value="jpeg">JPG</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> Filtre </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field>
		<mat-select [(value)]="selectedFilter" (selectionChange)="setPreviewFilter()">
                    <mat-option value="0">Aucun</mat-option>
                    <mat-option value="1">Brouillage</mat-option>
                    <mat-option value="2">Sepia</mat-option>
                    <mat-option value="3">Luminosité</mat-option>
                    <mat-option value="4">Saturation</mat-option>
                    <mat-option value="5">Inversion</mat-option>
		    <mat-option value="6">Rotation HUE</mat-option>

                </mat-select>
            </mat-form-field>

	    <!-- filter slider -->
	    <mat-slider min="0" max="1" step="0.01" [value]="percentage" (input)="setFilterStrength($event.value)"> </mat-slider>
	    <input
                #filterInput
                id="filter-input"
                type="text"
                [value]="percentage"
                (input)="setFilterStrength(filterInput.value)"
                min="0"
                max="1"
                step="0.01"
                maxlength="4"
                [formControl]="percentageForm"
                matInput
                matSuffix
            />
	    <mat-slide-toggle class="toggleFilters" [checked]="checked" [disabled] = "disabled"> Activer/Désactiver </mat-slide-toggle>
	    <section class = "tp-section">
		<mat-checkbox class = "tp-margin" [(ngModel)] = "checked">Checked</mat-checkbox>
		<mat-checkbox class = "tp-margin" [(ngModel)] = "disabled">Disabled</mat-checkbox>
	    </section>
	    
        </mat-expansion-panel>
    </mat-accordion>
    <form>
        <mat-form-field>
            <mat-label>Titre du dessin</mat-label>
            <input matInput [(ngModel)]="drawingTitle" name="drawingTitle" />
        </mat-form-field>
    </form>

    <h3>Prévisualisation du dessin</h3>
    <a #drawingImageContainer href="" download=""> </a>
    <!-- default width and height  -->
    <canvas id="previewCanvas" #previewCanvas width="250" height="250"></canvas>

    <!-- <canvas id="cloneCanvas" #cloneCanvas [attr.width]="width" [attr.height]="height"></canvas> -->

    <!-- disabled in css -->
    <canvas id="exportCanvas" #exportCanvas width="250" height="250"></canvas>
    <img width="600" height="400" id="drawingImage" #drawingImage src="" />
    <br />



    <button class="buttons" id="downloadButton" mat-raised-button (click)="downloadImage()">Télécharger</button>
    <button class="buttons" id="cancelButton" mat-raised-button mat-dialog-close>Annuler</button>
</div>
