<div id="wrap">
    <h3>Format</h3>
    <mat-radio-group
        aria-labelledby="format-type-group"
        class="options-group"
        [(ngModel)]="selectedFormat"
        (change)="onFormatChange()"
        ngDefaultControl
    >
        <mat-radio-button class="type-filter" value="jpeg">JPG</mat-radio-button>
        <mat-radio-button class="type-filter" value="png">PNG</mat-radio-button>
    </mat-radio-group>

    <h3>Filtre</h3>
    <div id="filter-names">
        <mat-radio-group
            aria-labelledby="type-filter-group"
            class="options-group"
            [(ngModel)]="selectedFilter"
            (change)="setPreviewFilter()"
            ngDefaultControl
        >
            <mat-radio-button class="type-filter" *ngFor="let type of typeExportFilter | keyvalue: keepOriginalOrder" [value]="type.value">
                {{ type.value }}
            </mat-radio-button>
        </mat-radio-group>
    </div>

    <div id="slider-container" [style.display]="sliderIsVisible ? 'block' : 'none'">
        <label> Intensité du filtre: </label>
        <mat-slider
            id="filterSlider"
            thumbLabel
            tickInterval="auto"
            min="0"
            max="1"
            step="0.05"
            [value]="percentage"
            (change)="setFilterPercentage($event.value)"
        >
        </mat-slider>
    </div>
    <div id="bottom-elements">
        <form>
            <mat-form-field>
                <mat-label>Titre de l'image </mat-label>
                <input matInput name="drawingTitle" [formControl]="titleForm" />
                <mat-error>SVP entrez un titre</mat-error>
            </mat-form-field>
        </form>

        <h3>Prévisualisation de l'image</h3>
        <a #drawingImageContainer href="" download=""> </a>

        <canvas id="previewCanvas" #previewCanvas width="250" height="250"></canvas>

        <!-- disabled in css -->
        <canvas id="exportCanvas" #exportCanvas width="250" height="250"></canvas>

        <div>
            <mat-form-field>
                <mat-label>Adresse courriel</mat-label>
                <input matInput name="emailInput" type="email" [formControl]="emailForm" />
                <mat-error *ngIf="!isEmailInputEmpty()">Adresse courriel non-valide</mat-error>
            </mat-form-field>
            <button
                class="buttons"
                id="emailButton"
                mat-raised-button
                [disabled]="titleForm.value.length === 0 || !emailForm.valid"
                (click)="sendByEmail()"
            >
                Envoyer par courriel
            </button>
        </div>
        <div>
            <button class="buttons" id="downloadButton" mat-raised-button (click)="downloadImage()" [disabled]="titleForm.value.length === 0">
                Télécharger
            </button>
            <button class="buttons" id="cancelButton" mat-raised-button mat-dialog-close>Annuler</button>

            <h3 id="canvas-size-string">Taille de l'image: {{ drawingService.canvas.width }} x {{ drawingService.canvas.height }} px</h3>
        </div>
    </div>
</div>
