#downloadButton {
    background-color: green;
    margin-right: 5px;
}

#cancelButton {
    background-color: red;
}

#exportCanvas {
    display: none;
    float: right;
}

#filter-names {
    display: block;
}
#filter-input {
    text-align: left;
    width: 40%;
}

#toggleFilterButton {
    display: block;
}

#canvas-size-string{
    float: right;
    color: yellow;
}

.options-group {
  display: flex;
  flex-direction: column;
  // margin: 15px 0;
}

#bottom-elements{
    margin-top: 10px;
}
