<div id="form-container">
    <mat-form-field appearance="fill">
        <mat-label>Red</mat-label>
        <span matPrefix>#</span>
        <mat-error>Couleur non valide</mat-error>
        <input
            #redInput
            [value]="color.getRedHex()"
            type="text"
            (blur)="onRedChange(redInput.value)"
            maxlength="2"
            [formControl]="redForm"
            matInput
        />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Green</mat-label>
        <span matPrefix>#</span>
        <mat-error>Couleur non valide</mat-error>
        <input
            #greenInput
            [value]="color.getGreenHex()"
            type="text"
            (blur)="onGreenChange(greenInput.value)"
            maxlength="2"
            [formControl]="greenForm"
            matInput
        />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Blue</mat-label>
        <span matPrefix>#</span>
        <mat-error>Couleur non valide</mat-error>
        <input
            #blueInput
            [value]="color.getBlueHex()"
            type="text"
            (blur)="onBlueChange(blueInput.value)"
            maxlength="2"
            [formControl]="blueForm"
            matInput
        />
    </mat-form-field>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Opacity</mat-label>
            <mat-error>SVP saisir une valeur entre 0 et 1</mat-error>
            <input
                #alphaInput
                type="text"
                [value]="color.opacity"
                (input)="changeOpacity(alphaInput.value)"
                min="0"
                max="1"
                step="0.01"
                maxlength="4"
                [formControl]="alphaForm"
                matInput
            />
        </mat-form-field>
        <mat-slider [value]="color.opacity" (input)="changeOpacity($event.value)" min="0" max="1" step="0.01" color="primary" vertical></mat-slider>
    </div>
    <div>
        <button mat-raised-button (click)="closeDialog()" [disabled]="isColorInvalid()" color="primary">OK</button>
        <button mat-raised-button mat-dialog-close>Annuler</button>
    </div>
</div>
