<mat-slide-toggle (change)="activeMagnetism()" [checked]="this.getMagnetismeOption()">utiliser magnetisme</mat-slide-toggle>
<p></p>
<p>
    <mat-radio-button (change)="setMagnetismeOption(1)" [checked]="this.activateOption === 1"></mat-radio-button>
    <mat-radio-button (change)="setMagnetismeOption(2)" [checked]="this.activateOption === 2"></mat-radio-button>
    <mat-radio-button (change)="setMagnetismeOption(3)" [checked]="this.activateOption === 3"></mat-radio-button>
</p>
<p></p>
<p>
    <mat-radio-button (change)="setMagnetismeOption(4)" [checked]="this.activateOption === 4"></mat-radio-button>
    <mat-radio-button (change)="setMagnetismeOption(5)" [checked]="this.activateOption === 5"></mat-radio-button>
    <mat-radio-button (change)="setMagnetismeOption(6)" [checked]="this.activateOption === 6"></mat-radio-button>
</p>
<p></p>
<p>
    <mat-radio-button (change)="setMagnetismeOption(7)" [checked]="this.activateOption === 7"></mat-radio-button>
    <mat-radio-button (change)="setMagnetismeOption(8)" [checked]="this.activateOption === 8"></mat-radio-button>
    <mat-radio-button (change)="setMagnetismeOption(9)" [checked]="this.activateOption === 9"></mat-radio-button>
</p>
