<mat-slide-toggle (change)="activeMagnetism()">utiliser magnetisme</mat-slide-toggle>
<p></p>
<p>
    <mat-radio-button></mat-radio-button>
    <mat-radio-button></mat-radio-button>
    <mat-radio-button></mat-radio-button>
</p>
<p></p>
<p>
    <mat-radio-button></mat-radio-button>
    <mat-radio-button></mat-radio-button>
    <mat-radio-button></mat-radio-button>
</p>
<p></p>
<p>
    <mat-radio-button></mat-radio-button>
    <mat-radio-button></mat-radio-button>
    <mat-radio-button></mat-radio-button>
</p>
