<div class="container">
    <h1 class="header-item">PolyDessin</h1>

    <div id="server-message">
        <p>Petit message du serveur : {{ message | async }}</p>
        <button class="button" (click)="getMessagesFromServer()">Récuper un message du serveur</button>
        <button class="button" (click)="sendTimeToServer()">Envoyer un message au serveur</button>
    </div>

    <button class="button" mat-button routerLink="/editor">Créer un nouveau dessin</button>
    <button class="button" mat-button routerLink="/" disabled>Ouvrir le carrousel de dessins</button>
    <button class="button" mat-button routerLink="/">Afficher le Guide d'utilisation</button>
    <button class="button" mat-button routerLink="/" disabled>Continuer un dessin</button>

    <div class="footer-item">
        <h4 class="team-name">Équipe Poly</h4>
        <p>Yanis Toubal, Estefan Vega Calcada, Brando Tovar, Mohammed Ariful Islam, Noé Berguin</p>
    </div>
</div>
