$primaryColor: #575859;
$secondaryColor: #f2aa27;

.container {
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    height: auto;
    background-color: $primaryColor;
}

.button {
    margin-top: 10px;
    text-align: center;
    background-color: $secondaryColor;
    width: 200px;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.header-item {
    justify-content: center;
    text-align: center;
    color: $secondaryColor;
}

.footer-item {
    margin-top: 20px;
    text-align: center;
}

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}
