<div class="container">
    <h1 class="header-item">PolyDessin</h1>
    <mat-divider id="divider"></mat-divider>

    <app-create-new-drawing [inMenu]="true"></app-create-new-drawing>
    <app-gallery [inMenu]="true"></app-gallery>
    <app-open-guide [inMenu]="true"></app-open-guide>
    <app-continue-drawing [inMenu]="true"></app-continue-drawing>

    <div class="footer-item">
        <h4 class="team-name">Équipe Poly</h4>
        <p>Yanis Toubal, Estefan Vega Calcada, Brando Tovar, Mohammed Ariful Islam, Noé Berguin</p>
    </div>
</div>
