<div class="property">
    <h3 class="title-property">Propriété du rectangle</h3>
    <label class="label">Choisissez le type de rectangle que vous souhaitez dessiner:</label>
    <mat-radio-group aria-labelledby="label" class="type-drawing-group" [(ngModel)]="currentType" ngDefaultControl>
        <mat-radio-button
            class="type-drawing"
            *ngFor="let type of typesDrawing | keyvalue"
            [value]="type.value"
            (change)="onTypeDrawingChange($event)"
        >
            {{ type.value }}
        </mat-radio-button>
    </mat-radio-group>

    <app-thickness-slider (thicknessChange)="onThicknessChange($event)" [startingValue]="this.currentThickness"></app-thickness-slider>
</div>
