<h3>Propriété du rectangle</h3>
<label id="type-drawing-label">Choissisez le type de rectangle que vous souhaitez dessiner:</label>
<mat-radio-group aria-labelledby="type-drawing-label" id="type-drawing-group" [(ngModel)]="currentType" ngDefaultControl>
    <mat-radio-button class="type-drawing" *ngFor="let type of typesDrawing | keyvalue" [value]="type.value" (change)="onTypeDrawingChange($event)">
        {{ type.value }}
    </mat-radio-button>
</mat-radio-group>

<mat-slider thumbLabel (change)="onThicknessChange($event)" tickInterval="1" min="MINIMUM_THICKNESS" max="MAXIMUM_THICKNESS"> </mat-slider>
