@import '../../style/color.scss';

.container {
    height: auto;
    min-height: 100vh;
    padding: 0 5px 0 5px;
    background-color: $primaryColor;
    overflow: hidden;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
}

#tools {
    list-style-type: none;
    padding: 0px;

    li {
        padding: 4px 0px;

        button {
            padding: 0;
            margin: 0;
            background-color: transparent;
            border-radius: 10px;
            color: $textColor;
            margin-bottom: 5px;
            border: 1px solid white;
        }
    }
}

.currentTool {
    background-color: white !important;
}

mat-sidenav {
    margin-left: 80px;
    width: 250px;
    background-color: #1a174f;
}
