<mat-sidenav-container>
    <mat-sidenav #toolProperties mode="side" position="end">
        <!-- TODO implementer le contenu du sidenav dans un autre component -->
        <div [ngSwitch]="currentTool.name">
            <app-pencil-options *ngSwitchCase="'Crayon'"></app-pencil-options>
            <app-rectangle-options *ngSwitchCase="'Rectangle'"></app-rectangle-options>
            <app-ellipse-options *ngSwitchCase="'Ellipse'"></app-ellipse-options>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container">
            <ul id="tools">
                <li *ngFor="let tool of tools" matTooltip="{{ tool.tooltip }}" [matTooltipPosition]="'right'">
                    <button mat-button [ngClass]="{ currentTool: isCurrentTool(tool) }" (click)="onToolChanged(tool)">
                        <mat-icon>{{ tool.iconName }}</mat-icon>
                    </button>
                </li>
            </ul>
            <app-color-tool></app-color-tool>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
