.container {
    height: auto;
    min-height: 98vh;
    border: 1px solid black;
    padding: 0 5px 0 5px;
    margin-right: 5px;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
}

#tools {
    list-style-type: none;
    padding: 0px;

    li {
        padding: 4px 0px;

        button mat-icon {
            color: gray;
        }
    }
}

.currentTool {
    background-color: rgb(255, 149, 10);
}
