<mat-sidenav-container>
    <mat-sidenav #toolProperties mode="side" position="end">
        <div *ngIf="currentTool" [ngSwitch]="currentTool.name">
            <app-pencil-options class="tool-options" *ngSwitchCase="'Crayon'"></app-pencil-options>
            <app-brush-options class="tool-options" *ngSwitchCase="'Brush'"></app-brush-options>
            <app-rectangle-options class="tool-options" *ngSwitchCase="'Rectangle'"></app-rectangle-options>
            <app-ellipse-options class="tool-options" *ngSwitchCase="'Ellipse'"></app-ellipse-options>
            <app-line-option class="tool-options" *ngSwitchCase="'Line'"></app-line-option>
            <app-erase-option class="tool-options" *ngSwitchCase="'Eraser'"></app-erase-option>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div id="tool-container">
            <ul id="tools">
                <li *ngFor="let tool of tools" matTooltip="{{ tool.tooltip }}" [matTooltipPosition]="'right'">
                    <button mat-button [ngClass]="{ currentTool: isCurrentTool(tool) }" (click)="onToolChanged(tool)">
                        <mat-icon>{{ tool.iconName }}</mat-icon>
                    </button>
                </li>
            </ul>
            <div id="colors-container">
                <app-recent-colors></app-recent-colors>
                <app-color-tool></app-color-tool>
            </div>
            <hr />
            <div id="other-functionality-container">
                <button matTooltip="Accueil" matTooltipPosition="right" mat-button id="returnMainPage" routerLink="/">
                    <mat-icon>home</mat-icon>
                </button>
                <app-create-new-drawing></app-create-new-drawing>
                <app-open-guide [inMenu]="false"></app-open-guide>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
