<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<mat-tab-group>
    <mat-tab label="Divers">
        <h2>Créer ou continuer un dessin</h2>
        <h2>Carrousel de dessins</h2>
        <h2>Sauvegarde automatique et manuelle</h2>
        <h2>Exportation</h2>
    </mat-tab>
    <mat-tab label="Dessiner">
        <h2>Outils</h2>
        <h2>Manipulations de sélection</h2>
        <h2>Palette de couleur</h2>
        <h2>Annuler-refaire</h2>
        <h2>Grille et magnétisme</h2>
    </mat-tab>
</mat-tab-group>
