.close-button{
    float: right;
    top:-24px;
    right:-24px;
}

table {
    width: 30%;
}

th {
    text-align: left;
}

h1, h2 {
    font-weight: bold;
    color: #ffffff;
}
.important-message{
    color:#DB3938;
    font-weight: bold;
    font-size: 12px;
}
div {
    color: #eee
}

.create-drawing {
    height: 50%;
    width: 50%;
}

h2, h1 {
    margin-top: 1em;
    margin-bottom: 0;
    padding-bottom: 0;
}

iframe {
    width: 840px;
    height: 462px;
}

.max-image-height{
    height: 462px;
}

#save-confirm{
    display: flex;
}

