.close-button{
    float: right;
    top:-24px;
    right:-24px;
}

table {
    width: 30%;
}

th {
    text-align: left;
}

h1, h2 {
    font-weight: bold;
    color: #ffffff;
}

div {
    color: #eee
}

img {
    height: 50%;
    width: 50%;
}

h2, h1 {
    margin-top: 1em;
    margin-bottom: 0;
    padding-bottom: 0;
}
